.elementor-15122 .elementor-element.elementor-element-6ce67284{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0rem;--margin-block-end:0rem;--margin-inline-start:0rem;--margin-inline-end:0rem;--padding-block-start:40px;--padding-block-end:40px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-15122 .elementor-element.elementor-element-6ce67284:not(.elementor-motion-effects-element-type-background), .elementor-15122 .elementor-element.elementor-element-6ce67284 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#125177;}.elementor-15122 .elementor-element.elementor-element-6ce67284, .elementor-15122 .elementor-element.elementor-element-6ce67284::before{--border-transition:0.3s;}.elementor-15122 .elementor-element.elementor-element-7c2030e4{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-15122 .elementor-element.elementor-element-643ed01a .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:26px;font-weight:400;}.elementor-15122 .elementor-element.elementor-element-731b8e88{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-15122 .elementor-element.elementor-element-37ddf4fe{color:#FFFFFF;}.elementor-15122 .elementor-element.elementor-element-4813bae8{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-15122 .elementor-element.elementor-element-3078f243{color:#FFFFFF;}@media(min-width:768px){.elementor-15122 .elementor-element.elementor-element-7c2030e4{--width:50%;}.elementor-15122 .elementor-element.elementor-element-731b8e88{--width:25%;}.elementor-15122 .elementor-element.elementor-element-4813bae8{--width:25%;}}@media(max-width:1024px) and (min-width:768px){.elementor-15122 .elementor-element.elementor-element-7c2030e4{--width:40%;}.elementor-15122 .elementor-element.elementor-element-731b8e88{--width:32%;}.elementor-15122 .elementor-element.elementor-element-4813bae8{--width:30%;}}/* Start custom CSS for heading, class: .elementor-element-643ed01a */.btn-text {
    height: max-content;
  display: block;
  font-size: 64px;
  letter-spacing: -0.03em;
  /*font-family: "Hanken Grotesk", sans-serif;*/
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  color: #212121;
}
.btn-text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #ffd602 50%, rgb(184 184 184) 50%);
  background-size: 200% 100%;
  background-position: 100% 50%;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-text:hover::after {
  background-position: 0% 50%;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-3078f243 */.__text-footer p{
    max-width: 290px;
}/* End custom CSS */