@font-face {
  font-family: vufFont;
  src: url(../font/AvertaStdCY-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: vufFont;
  src: url(../font/AvertaStdCY-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: vufFont;
  src: url(../font/AvertaStdCY-Bold.ttf);  
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: vufFont;
  src: url(../font/AvertaStdCY-BoldItalic.ttf);  
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: vufFont;
  src: url(../font/AvertaStdCY-Regular.ttf);  
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: vufFont;
  src: url(../font/AvertaStdCY-RegularItalic.ttf);  
  font-weight: normal;
  font-style: italic;
}
/*  */

:root {  
  --vus-blue: #171554;
  --vus-red: #BA0611;
  --site-blue: #05326E;
  --white: #ffffff;
}
.___fc_red_vus{
  color: var(--vus-red);
}
.___limit_width_1440{
  max-width: 1440px;
}
.___add_animate {
  /* animation-delay: 500ms; */
  /* opacity: 0; */
}
._bg_red {
  background-color: #BB1413;
}

.__btn a {
  color: #fff !important;
  font-size: 14px;
  font-weight: 300;
}
.tutor-dashboard .tutor-dashboard-left-menu .tutor-dashboard-permalinks li.active a {
  background-color: #212f6e !important;
}
.tutor-dashboard .tutor-dashboard-left-menu .tutor-dashboard-menu-item-icon,
.tutor-dashboard .tutor-dashboard-content .tutor-dashboard-round-icon i {
  color: #212f6e !important;
}
.tutor-btn.tutor-is-outline {
  border-color: #fff !important;
  color: #fff !important;
}

.tutor-btn-sm .tutor-color-muted {
  color: #fff !important;
}

._border_radius_10 {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
}

._forgot a {
  font-size: 12px;
  margin-top: 7px;
  display: block;
  color: #0061FF;
}

._btn {
  border: none;
  margin: 0 6px;
}
._btn_radius {
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
}

/* ------------------------------------------------- */
body{
  font-family: vufFont;
  background: #F5F5F5;
}
body.post-type-archive-courses {
  background: #ffffff;
}
body main {
  min-height: calc(100vh - 127px);
  background: #F5F5F5;
  overflow-x: hidden;
  width: 100%;
  display: block;
}

body main.___main_home_page {
  background: #fff;
}

button[type="submit"] {
  background: #212F6E;
  color: #fff;
  cursor: pointer;
  border: none;
  min-width: 150px;
  padding: 8px 13px;
  border-radius: 100px;
}

.__info_box > p {
  font-weight: 600;
  color: #000;
  margin-top: 15px;

}

form input {
    border: none;
    min-height: 36px;
    padding: 0 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
    min-width: 46%;
    box-shadow: inset 1px 1px 1px #ddd;
    -moz-box-shadow: inset 1px 1px 1px #ddd;
    -webkit-box-shadow: inset 1px 1px 1px #ddd;
    -ms-box-shadow: inset 1px 1px 1px #ddd;
}

form.et_pb_searchform input, form.et_pb_searchform input:focus, form.et_pb_searchform input:focus-visible {
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -ms-box-shadow: unset;
  -moz-box-shadow: unset;
  border: none;
}
header .navbar {
  padding: 0;
}

form input.et_pb_searchsubmit {
  min-width: 50px;
}

img {
  width: 100%;
}
.text-justify{
  text-align: justify;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #fff;
  z-index: 99;
}

#loading-image {
  z-index: 100;
}

/* --------- Header --------- */
.navbar-brand {
  max-width: 180px;
}
header ul.navbar-nav li  .nav-link{
  font-size: .9em;
  padding: .5em .75em;
  color: var(--site-blue);
}
header ul.navbar-nav .nav-link:hover{
  color: var(--vus-red);
}
.navbar-collapse.collapse.show{
  /* margin-top: 1em; */
}
.navbar-toggler {
  background: var(--vus-red);
  width: 38px;
  height: 38px;
  border-radius: 50%;  
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
  outline: none;
}
.navbar-toggler:focus {  
  box-shadow: none;
}
.navbar-toggler .navbar-toggler-icon,
.navbar-toggler.collapsed .navbar-toggler-icon,
.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.5' height='14.5' viewBox='0 0 18.5 14.5'%3E%3Cg id='menu' transform='translate(-1.396 -4.75)'%3E%3Cline id='Line_11' data-name='Line 11' x2='16' transform='translate(2.646 12)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5'/%3E%3Cline id='Line_12' data-name='Line 12' x2='16' transform='translate(2.646 6)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5'/%3E%3Cpath id='Path_58822' data-name='Path 58822' d='M0,0H11.353' transform='translate(7.294 18)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A"); 
  transition: all .7s ease-in-out;
  transform: rotate(360deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.535' height='15.535' viewBox='0 0 15.535 15.535'%3E%3Cg id='x' transform='translate(-4.232 -4.232)'%3E%3Cline id='Line_13' data-name='Line 13' x1='12' y2='12' transform='translate(6 6)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5'/%3E%3Cline id='Line_14' data-name='Line 14' x2='12' y2='12' transform='translate(6 6)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
  transition: all .7s ease-in-out;
  transform: rotate(360deg);
}
.et_pb_code_inner {
  position: relative;
}
.et_pb_row:after, .et_pb_row_inner:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  width: 0;
}
.et-l--header ul {
  list-style-type: disc;
  padding: 0 0 6px 0em;
  line-height: 26px;
}
.site-main.page .row {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0;
}
.site-main.page .row h1 {
  font-size: 21px;
  color: #212F6E;
  font-weight: 600;
  margin-bottom: 10px;
}
.site-main.page .row.center {
  max-width: 360px;
  display: block;
}

._icon_input {
  width: 17px;
  position: absolute;
  left: 7px;
  top: 10px;
}

.tutor-btn, ._btn_red {
  width: 100%;
    margin-bottom: 20px;
    background: #bb1413 !important;
}

.password ._icon_input {
  width: 15px;
  top: 7px;
}

.__notes {
  color: #646464;
    font-size: 10px;
}
.user-submit {
  background: #BB1413 !important;
    color: #fff;
    border-radius: 70px;
    box-shadow: unset !important;
    margin: 20px 0 10px 0;
    text-align: center;
    padding: 0 !important;
}

.username, .password {
  position: relative;
}

.sign_in form input {
  width: 100%;
  background: #F5F5F7;
  padding-left: 35px;
}

#rememberme {
  box-shadow: unset !important;
}

.tutor-container {
  max-width: 1100px;
  padding: 30px 0 0 0;
  position: relative;
}

.tutor-course-listing-filter[class*='tutor-filter-course-grid-'] {
  grid-gap: 20px !important;
}

.__main_content {
  background: #fff;;
}

.__main_content .tutor-topics-in-single-lesson {

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 10px;
}
.tutor-lessons-under-topic .tutor-single-lesson-items {
  padding: 0 15px;
}
.tutor-lessons-under-topic .tutor-single-lesson-items.active {
  background-color: #f5f5f5 !important;

}

.tutor-container .tutor-px-20, .tutor-container .tutor-default-tab .tab-header-item {
  padding: 10px !important;
}

#__id_course_title_in_list {
  position: absolute;
  left: 26%;
  top: 29px;
}

.tutor-course-listing-item .list-item-meta {
  margin: 7px 0 !important;
}

.settings-tabs-navs {
  padding-top: 20px;
}
.settings-tabs-navs li {
  list-style: none;
}
.tutor-course-listing-item .tutor-course-listing-thumbnail {
  height: 150px;
  background-size: 100%;
  background-position: left top;
}

.filter-widget-title {
  font-size: 18px !important;
  font-weight: 600 !important;
  border-bottom: 1px solid #e2e0e0;

}

.tutor-text-avatar {
  background-color: #ddd !important;
}

.tutor-input-group.tutor-form-control-has-icon .tutor-input-group-icon {
  height: 36px !important;
  line-height: 37px !important;
}

input.tutor-form-check-input[type='checkbox']:checked {
  border-color: #212F6E !important;
  background-color: #212F6E !important;
}

.post-type-archive-courses .tutor-course-listing-filter {
  margin-top: 0px !important;
  padding: 0 !important;
}

form label {
  display: inline-block;
  min-width: 180px;
}

.course-archive-page form input[type="Search"] {
  background-color: #f7f9fa;
  border: 1px solid #f2f2f2;
  box-shadow: unset !important;
  border-radius: 60px !important;
}


.tutor-single-course-sidebar .tutor-course-sidebar-card {
  background: #fff;
  top: 36px !important;
}

.single .course-student-page-right .tutor-price-box-thumbnail img {
    width: 100%;
    height: auto;
}

.tutor-btn:not(.tutor-is-outline).tutor-btn-primary {
  background: var(--tutor-primary-hover-color);
  color: var(--tutor-color-white);
  border-color: var(--tutor-primary-hover-color);
}

form#loginform {
  min-width: 68% !important;
}
form#loginform label {
  display: flex;
  line-height: 20px;
  vertical-align: middle;
}

form .login-remember label {
  line-height: 30px !important;
}


form input[type="checkbox"], input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  max-width: 36px;
  display: inline-block;
  width: 20px !important;
  min-width: 20px;
  margin-right: 15px;
  min-height: 20px !important;
}

.tutor-mb-20 {
  margin-bottom: 5px !important;
}

form .tutor-form-group {
  margin-top: 15px;
}

.___right_menu_lst {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
ul.___right_menu_lst li {
  padding: 5px 10px;
  font-weight: bold;
}
a {
  cursor: pointer;
  color: #212f6e;
}
a, a:hover {
  text-decoration: none;
}

.__header_fixed > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  box-shadow: 1px 1px 1px #e6e6e6a1;
  -moz-box-shadow: 1px 1px 1px #e6e6e6a1;
  -webkit-box-shadow: 1px 1px 1px #e6e6e6a1;
  -ms-box-shadow: 1px 1px 1px #e6e6e6a1;

}

body > header {
  box-shadow: 1px 1px 1px #e6e6e6a1;
  -moz-box-shadow: 1px 1px 1px #e6e6e6a1;
  -webkit-box-shadow: 1px 1px 1px #e6e6e6a1;
  -ms-box-shadow: 1px 1px 1px #e6e6e6a1;
  height: 60px;
    background: #fff;
    padding-top: 4px;

}

.sign_in {
  background: #fff;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    box-shadow: 0px 1px 4px #ddd;
    -moz-box-shadow: 0px 1px 4px #ddd;
    -webkit-box-shadow: 0px 1px 4px #ddd;
    -ms-box-shadow: 0px 1px 4px #ddd;
    padding: 25px !important;
    margin-top: 4% !important;
    margin-bottom: 10% !important;
}

.msg {
  color: #da1312;
    font-size: 12px;
}


input[type="Search"] {
  height: 37px !important;
}
.__itemcat {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 10px;
  border-left: 1px solid #888;
  padding-left: 10px;
}


.__itemcat:first-child {
  padding-left: 0 !important;
  border: none;
}

.post-type-archive-courses .tutor-course-listing-grid {
  grid-gap: 15px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.course-student-main {
  padding-bottom: 30px;
}


.___cats_tabs_session .row {
  display: block !important;
}

.___cats_tabs_box .nav-pills {
  width: 100% !important;
  border-bottom: 2px solid #ddd;
}
.___cats_tabs_box .tab-content {
  width: 100% !important;
}

.___cats_tabs_box li.nav-item {
  width: auto;
    min-width: 60px;
    display: inline-block;
    float: inherit;
}

.___cats_tabs_box .nav-pills .nav-link {
    color: #000;
    background: unset;
    border-bottom: unset;
    width: 100%;
    border-radius: unset !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 6px;
    margin-bottom: -2px;
    text-align: left;
}
.___cats_tabs_box .nav-pills .nav-link {
  font-weight: 600;
  color: #8f8f8f;
}
.___cats_tabs_box .nav-pills .nav-link.active {
  border-bottom: 2px solid #BB1413;
  color: #000;
}

.___cats_tabs_box .slick-slider {
position:unset !important;
}

.___cats_tabs_box {
  position: relative;
}

.___cats_tabs_box .___yl_slick_next {
  position: absolute;
  right: -30px;
  z-index: 99;
  top: calc(50% - 15px);
  background-image: url(../img/___yl_slick_next.svg);
}

.___cats_tabs_box .___yl_slick_prev {
  position: absolute;
  left: -40px;
  z-index: 99;
  top: calc(50% - 15px);
  background-image: url(../img/___yl_slick_prev.svg);
}


.container {
  max-width: 1100px;
}
.logged .highligh .row {
  background: #F7F8FE;
  padding: 15px;
  border-radius: 6px;
}

.tutor-course-listing-item.tutor-mycourses-card .tutor-course-listing-thumbnail {
  height: auto;
  background-size: cover;
  background-position: left top;
  min-height: 130px;
  background-color: #f2f2f2;
}

.___cats_tabs_session .fade .slick-track::after, .___cats_tabs_session .fade .slick-track::before {
  display: none;
}

.___cats_tabs_session .__slick_slide .slick-slide {
  min-width: 190px !important; 
}

.__wishlist {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
  z-index: 9999;
}

.__ic_heart {
  background: url(../img/icon-heart.svg) no-repeat 0 0px / 100%;
  width: 16px;
  height: 20px;
  display: inline-block;
}

.__slick_slide .slick-slide .___cert_item_title {
  text-align: left;
  width: 100%;
  padding: 0 10px;
  font-weight: 600;
}

.___course_date {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  font-size: 13px;
  line-height: 17px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #797979;
}
._ic_date {
  background: url(../img/icon-date.svg) no-repeat 0 5px / 86%;
  width: 16px;
  height: 20px;
  display: inline-block;
}

.__slick_slide .slick-slide .___cert_item_title a {
  color: #000;
}

.___cats_tabs_session .slick-slide img {
  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
}

.col-md-6 {
  -ms-flex: 0 0 50% !important;
  flex: 0 0 50%;
  max-width: 50%;
  width: 48%;
  display: inline-block;
}

.text-bold {
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
}

._bor_rad_8 {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -ms-border-radius: 8px;
}

.___cats_tabs_session .fade .slick-track .__cdetail {
  display: block !important;
  position: relative;
}

.___cats_tabs_session .__slick_slide .slick-slide {
  margin: 0 15px 10px 0;
  min-height: 200px;
  border: 1px solid #f2f2f2;
  justify-content: initial;
  display: block;

}

ul.__list_circl {
  border-left: 2px solid #BB1413;
}

ul.__list_circl .__number {
  position: absolute;
  width: 56px;
  height: 56px;
  display: block;
  left: -28px;
  
  text-align: center;
  padding-top: 10px;
  color: #212F6E;
  font-weight: bold;
  font-size: 22px;

  background-color: #fff;
  background-image: url(../../dist/img/__li_circl.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  
}

ul.__list_circl li:nth-child(3n+1) .__number {
  transform: rotate(30deg);
}
ul.__list_circl li:nth-child(3n+2) .__number {
  transform: rotate(60deg);
}
ul.__list_circl li:nth-child(3n+3) .__number {
  transform: rotate(90deg);
}

ul.__list_circl li:nth-child(3n+1) .__number .__number_item {
  transform: rotate(-30deg);
  display: block;
}
ul.__list_circl li:nth-child(3n+2) .__number .__number_item {
  transform: rotate(-60deg);
  display: block;
}
ul.__list_circl li:nth-child(3n+3) .__number .__number_item {
  transform: rotate(-90deg);
  display: block;
}

ul.__list_circl li {
  position: relative;
  padding-left: 45px;
}

ul.__list_circl li .__title {
  font-size: 24px;
  color: #212F6E;
  font-weight: bold;
}

.___cats_tabs_session .show.active .slick-track {
  display: inline-block !important;
}

.slick-track {
  margin: unset !important;
}

.___cats_tabs_session .fade .slick-track {
  min-width: 100% !important;
}

/**
.___cats_tabs_session .fade .slick-track {
  display: contents !important;
}

****/



.__border_raiuds_6 {
  border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  border: 1px solid #AFAFAF;
}

.et_pb_gutters3 .et_pb_column_3_4, .et_pb_gutters3.et_pb_row .et_pb_column_3_4 {
  width: 80% !important;
  margin-right: 0 !important;
}

.__not_margin_padding {
  margin: 0 auto;
  padding: 0;
}

.__pl_15 {
  padding-left: 15px;
}

.__max_60 {max-width: 60px;}

._bg_grey {
  background: #F6F8FE;
  padding: 40px 20px;
  margin: 30px 0;
  border-radius: 6px;
  -moz-border-radius: 6px;
-webkit-border-radius: 6px;
-ms-border-radius: 6px;
}

.__courses_grid .__course_box {
  margin: 10px;
  padding: 0;
  max-width: 23%;
}
.__courses_grid .__course_box img {
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
}
.__courses_grid .__course_box .___cert_item_title {
  padding: 0 10px;
  font-weight: 600;
}
.__courses_grid .__course_box:nth-child(4n+1) {
  margin-left: 0;
}
.__courses_grid .__course_box:nth-child(4n) {
  margin-right: 0;
}

/* only header responsive */
@media screen and (max-width: 1200px) and (min-width: 800px) {
  header .navbar {
      padding: 0;
      width: 40px;
      height: 40px;
  }

  body > header {
    padding: 7px 10px;
    background: #fff;
  }
  .___header_container{
    display: flex;
    flex-direction: column;   
  }
  .___header_container > * {
    width: 100%;
  }
  .___header_container .navbar-collapse .navbar-nav{
    flex: 1;
    display: flex;
    justify-content: space-evenly !important;
  }
}

/* ./ only header responsive */
/* --------- ./ Header --------- */


/******** ecommerce woo ***************/
.woocommerce-page .site-main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0 0px 0px ;
}

.woocommerce-cart-form__contents .actions {
  display: none;
}
.woocommerce a.button.alt {
  max-width: 230px;
  padding: 10px;
  background: #222f6e;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
}
.woocommerce a.button.alt:hover {
  opacity: 0.86;
  background: #222f6e;
}
/**************** ./woo ***************/

/* ---------  Footer --------- */
footer#footer{
  background: #222F6E;
  color: #ffffff;
  padding: 15px 0;
}
footer#footer ul > * {
  margin-top: 10px; 
}
footer#footer ul li a {
  color:  #ffffff;
  text-decoration: none;  
  font-size: .9em;
}

footer .___phone{
  position: relative;
  padding-left: 28px;
}
footer .___phone:before{
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg id='Group_10578' data-name='Group 10578' transform='translate(-4617 -9231)'%3E%3Cg id='Ellipse_712' data-name='Ellipse 712' transform='translate(4617 9231)' fill='%23ba0611' stroke='%23fff' stroke-width='1.5'%3E%3Ccircle cx='20' cy='20' r='20' stroke='none'/%3E%3Ccircle cx='20' cy='20' r='19.25' fill='none'/%3E%3C/g%3E%3Cpath id='phone' d='M22,16.92v3a2,2,0,0,1-2.18,2,19.79,19.79,0,0,1-8.63-3.07,19.5,19.5,0,0,1-6-6A19.79,19.79,0,0,1,2.12,4.18,2,2,0,0,1,4.11,2h3a2,2,0,0,1,2,1.72,12.84,12.84,0,0,0,.7,2.81,2,2,0,0,1-.45,2.11L8.09,9.91a16,16,0,0,0,6,6l1.27-1.27a2,2,0,0,1,2.11-.45,12.84,12.84,0,0,0,2.81.7A2,2,0,0,1,22,16.92Z' transform='translate(4625.388 9239.5)' fill='%23fff' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center center;
  background-size: contain;
  top: 0;
  left: 0;
}
.___ft_appstore,
.___ft_googleplay,
.___bocongthuong{
  max-width: 130px ;
}

.___social_lst{
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  gap: 10px;
}
.___social_lst .___social_link{  
  max-width: 32px;
}

.col-md-4.___footer_logo_col {
  width: 30%;
  float: left;
  display: inline-block;
  /* flex: 30%; */
  max-width: 30%;
}
footer .col-md-8 {
  width: 68%;
  max-width: 68%;
}
.col-md-4.___footer_logo_col .___footer_logo {
  max-width: 141px;
}
.navbar-nav {
  display: block;
  float: right;
}
footer#footer ul li {
  float: left;
  min-width: 130px;
  max-width: 130px;
  display: inline-block;
  text-align: center;
}
header ul li {
  float: left;
  display: inline-block;
  text-align: center;
}
/* --------- ./ Footer --------- */

/********** Header ********************/
header .et_builder_inner_content {
  z-index: 2;
}
.et_builder_inner_content {
  position: relative;
  z-index: 1;
}
.et_pb_section.et_pb_section_0_tb_header.et_section_regular {
  padding: 0px 0!important;
}
.et_pb_section_0_tb_header {
  margin-top: 0px;
  margin-bottom: 0px;
}
.et_pb_row_0_tb_header.et_pb_row {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}
.et_pb_row:after, .et_pb_row_inner:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  width: 0;
}
.et_pb_column_1_tb_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.et_pb_column, .et_pb_row, .et_pb_row_inner {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.et_pb_module.et_pb_text_align_left {
  text-align: left;
}
.et_pb_search_0_tb_header {
  overflow-x: hidden;
  overflow-y: hidden;
}
.___header_search {
  width: 42%;
  max-width: 280px;
  border-radius: 50px;
  max-height: 40px;
  background: #F7F9FA;
  margin: 0 20px 0 0!important;
}
.et_pb_search {
  border: 1px solid #ddd;
}
.___header_search {
  float: left;
}
.et_pb_search .et_pb_searchform {
  position: relative;
}
.et_pb_search .et_pb_searchform>div {
  display: -ms-flexbox;
  display: flex;
}
.___header_search form>div {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.___header_search form>div:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1;
  top: 0;
  left: 8px;
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 11H11.71L11.43 10.73C12.4439 9.55402 13.0011 8.0527 13 6.5C13 5.21442 12.6188 3.95772 11.9046 2.8888C11.1903 1.81988 10.1752 0.986756 8.98744 0.494786C7.79973 0.00281635 6.49279 -0.125905 5.23192 0.124899C3.97104 0.375703 2.81285 0.994767 1.90381 1.90381C0.994767 2.81285 0.375703 3.97104 0.124899 5.23192C-0.125905 6.49279 0.00281635 7.79973 0.494786 8.98744C0.986756 10.1752 1.81988 11.1903 2.8888 11.9046C3.95772 12.6188 5.21442 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z' fill='%23636363'/%3E%3C/svg%3E%0A");
}
.et_pb_search .screen-reader-text {
  display: none;
}
.et_pb_search_0_tb_header input.et_pb_s {
  padding-top: 0.715em!important;
  padding-right: 0.715em!important;
  padding-bottom: 0.715em!important;
  padding-left: 0.715em!important;
  height: auto;
  min-height: 0;
}
.et_pb_search input.et_pb_s {
  -webkit-appearance: none;
  background: transparent;
  display: inline-block;
  padding-right: 80px;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}
.et_pb_search input.et_pb_s, .et_pb_search input.et_pb_searchsubmit {
  padding: .715em;
  margin: 0;
  font-size: 14px;
  line-height: normal!important;
  border: none;
  color: #666;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute!important;
  width: 1px;
  word-wrap: normal!important;
}
.et_pb_search input.et_pb_searchsubmit {
  min-height: 100%!important;
  background-color: #ddd;
  cursor: pointer;
}
.et_pb_search input.et_pb_s, .et_pb_search input.et_pb_searchsubmit {
  padding: .715em;
  margin: 0;
  font-size: 14px;
  line-height: normal!important;
  border: none;
  color: #666;
}
.et_pb_searchsubmit {
  opacity: 0;
  position: relative;
  width: 40px;
  z-index: 2;
}
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
@media (min-width: 981px) {
  .et_pb_row {
    padding: 2% 0;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    position: relative;
}
  .et_pb_row.et_pb_equal_columns, .et_pb_row_inner.et_pb_equal_columns, .et_pb_section.et_pb_equal_columns>.et_pb_row {
    display: -ms-flexbox;
    display: flex;
    direction: ltr;
}

  .et_pb_section {
    position: relative;
    background-color: #fff;
    background-position: 50%;
    background-size: 100%;
    background-size: cover;
}
.et_pb_gutters3 .et_pb_column, .et_pb_gutters3.et_pb_row .et_pb_column {
    margin-right: 5.5%;
}
.et_pb_gutters3 .et_pb_column_1_4, .et_pb_gutters3.et_pb_row .et_pb_column_1_4 {
  width: 20.875%;
}
.et_pb_column_0_tb_header {
  display: flex;
  align-items: center;
}
.et_pb_image_0_tb_header {
  max-width: 190px;
  text-align: left;
  margin-left: 0;
}
.et_pb_gutters3 .et_pb_column_3_4, .et_pb_gutters3.et_pb_row .et_pb_column_3_4 {
  width: 73.625%;
}

}
/************ ./ Header ********************/

@media screen and (max-width: 992px) {

  p br {
    display: none;
  }

  /* Header */
  .___top_logo{
    width: 200px;
  }

.navbar-collapse{
  position: absolute;
  width: 100vw;
  top: 100%;
  background: #fff;
  z-index: 9;
  right: calc( calc(100vw - 100%)/-2 );
}
  /* /. Header */


  .___footer_logo_col{
    display: flex;
    justify-content: center;
  }
  img.___footer_logo{
    max-width: 200px;
    margin-bottom: 40px;
  }
  .___social_lst {    
    justify-content: flex-start;   
    margin-top: 20px; 
  }

}

@media screen and (max-width: 766px) {

  .___footer_logo_col{
    display: flex;
    justify-content: flex-start;
  }
  .___footer_1 > div[class*=' col']:not(:last-child){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #fff;
  }
  
}

@media screen and (max-width: 1024px) {

.et_pb_gutters3 .et_pb_column_3_4, .et_pb_gutters3.et_pb_row .et_pb_column_3_4 {
  width: 50% !important;
  margin-right: 0 !important;
}

}