.et_pb_column_1_4 {
  width: 25%;
  float: left;
}
.et_pb_column_3_4 {
  width: 75%;
  float: left;
}
.___certificates_slick_lst .slick-list {
  padding: 0;
}
.___yl_slick_prev {
  position: absolute;
  left: 20px;
  z-index: 99;
  top: calc(50% - 22.5px);
  background-image: url(../img/icon_slide_next.svg);
  background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    display: none;
}

.___yl_slick_next {
  position: absolute;
  right: 20px;
  z-index: 99;
  top: calc(50% - 22.5px);
  background-image: url(../img/icon_slide_pre.svg);
  background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    display: none;
}

.woocommerce-message {
  border-top-color: #ba0000 !important;
}
.woocommerce-message::before {
  color: #dc3545 !important;
}

.hero-sliders:hover .___yl_slick_next,.hero-sliders:hover .___yl_slick_prev {
  display: block;
}


.___cert_item {
  justify-content: center;
  padding: 0px;
  flex-direction: column;
  align-items: center;
}

ul.___yl_slick_dot li button {
  display: none;
}
ul.___yl_slick_dot {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 10px;
}
ul.___yl_slick_dot > li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e0eeff;
}
ul.___yl_slick_dot > li.slick-active {
  background-color: var(--yl-color);
}

.__bg_white {
  background-color: #fff;;
}

.feature-banner {
  position: relative;
}

.__course_info {
  position: absolute;
  top: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: #fff;
}
.tutor-course-details-title > div {
  color: #fff;
}

.tutor-course-details-header a {
  text-decoration: none;
  color: #ACB2CB;
}
.tutor-course-details-action-btns {
  display: flex;
  gap: 26px;
  position: relative;
  margin-left: 15px;
}

.tutor-login-wrap {
  max-width: 80%;
  margin: 0 auto;
  padding: 17% 55px;
  box-shadow: unset;
  border-radius: 5px;
  height: calc(100vh - 60px);
}



@media screen and (max-width: 1000px) and (min-width: 769px) {
  .et_pb_column_3_4 {
    padding-top: 3px;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  .__logo img {
    height: 39px;
  }
  .___header_search {display: none;}
  .et_pb_column_1_4 {
    width: 50%;
    float: left;
  }
  .et_pb_column_3_4 {
    width: 50%;
    float: left;
  }
  header.et-l--header {
    padding: 6px 15px;
    background: #fff;
  }
  header .___header_right {
    padding-top: 5px;
  }
  header .navbar-collapse.collapse.show {
    display: block;
  }

  /*** Header menu ****/
  .___header_container {
    position: absolute;
    right: 36px;
    top: 0;
  }
  .___right_menu_lst {
      display: inline-block;
      flex-direction: unset;
      justify-content: unset;
      width: 100% !important;
      position: fixed;
      left: 0;
      background: #fff;
      top:60px;
  }
  .et-l--header ul {
    list-style-type: disc;
    padding: 1rem 0 6px 1em !important;
    line-height: 26px;
    background: #fcfcfc !important;
    min-height: calc(100vh - 60px);
}

header ul.___right_menu_lst li {
  padding: 8px 7px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

header ul.___right_menu_lst li.__max_icons {
  padding: 8px 7px;
  font-weight: bold;
  width: 46px;
  text-align: left;
}

  /********/
  form input {
    width: 100%;
  }

  .___yl_certificates_tab button.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .___yl_content_box.___first_box.___female,
  .___yl_content_box.___first_box.___male {
    background-size: 90px, 180%;
    background-position: center bottom 40px, center bottom 60px;

  }

  .col-md-4.___footer_logo_col {
      width: 100%;
      float: left;
      display: inline-block;
      flex: 100%;
      max-width: 100%;
  }
  footer#footer ul li {
      float: left;
      min-width: 100%;
      max-width: 100%;
      display: inline-block;
      text-align: left;
  }
  footer .navbar-nav {
    display: inline-block;
      float: unset;
      width: 100%;
      text-align: left;
  }
}

/* 576px */
@media screen and (max-width: 576px) {
  .___yl_content_box.___first_box.___female,
  .___yl_content_box.___first_box.___male {
    background-size: 90px, 300%;
    background-position: center bottom 20px, center bottom 40px;

  }
  .___yl_certificates_tab button.nav-link {
    font-size: 12px;
  }
  .___certificates_slick_lst {
    padding: 0px 0;
  }
  .___yl_certificates_tab ul#certificates_Tab {
    justify-content: space-between;
    gap: 10px;
  }
  .___learning_path_slick_lst {
    padding: 30px;
  }
  .___yl_slick_next,
  .___yl_slick_prev {
    width: 32px;
    height: 32px;
  }
}
